<div class="page">

    <div class="container block-padding pt-0">
        <div class="col-lg-8 offset-lg-2 text-center">
            <h3>Find a new furry Friend</h3>
            <p>Aliquam erat lorem ipsum volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec commodo
                sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo
                a dolor placerat, nec elementum ipsum convall.</p>
        </div>
        <!-- First row: Adopt a pet -->
        <div class="row mt-5">
            <!-- Pet  -->
            <div class="adopt-card col-md-6 col-xl-3 res-margin">
                {{#each petInfo}}
                <div class="card bg-light-custom">
                    <div class="thumbnail text-center">
                        <!-- Image -->
                        <img src="{{this.image}}" class="border-irregular1 img-fluid" alt="">
                        <!-- Name -->
                        <div class="caption-adoption">
                            <h6 class="adoption-header">{{this.petName}}</h6>
                            <!-- List -->
                            <ul class="list-unstyled">
                                <li>
                                    <strong>Gender:</strong> {{this.petSex}}</li>
                                <li>
                                    <strong>Neutered: </strong> {{this.fixed}}</li>
                                <li>
                                    <strong>Age:</strong> {{this.petAge}}</li>
                            </ul>
                            <!-- Buttons -->
                            <div class="text-center">
                                <a href="adoption-single.html" class="btn btn-primary">More Info</a>
                            </div>
                        </div>
                    </div>
                    <!-- /thumbnail -->
                </div>
                <!-- /card -->
                {{/each}}
            </div>
            <!-- /adopt-card -->
            <!-- /pet -->
            <!-- /col-md -->
        </div>
        <!-- /container -->
    </div>